{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} JA Therapies {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block meta_description %}JA Therapies, Massage, Sports Therapy, Aromatherapy, Cupping, Hijama, Twickenham{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'mainsite/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'mainsite/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'mainsite/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'mainsite/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'mainsite/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/rangeslider.css' %}">

    <link rel="stylesheet" href="{% static 'mainsite/css/style.css' %}">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-11 col-xl-4">
            <h1 class="mb-0 site-logo"><a href="{% url 'home' %}" class="text-white mb-0"> JA Therapies<span class="text-primary">.</span> </a></h1>
          </div>
          <div class="col-12 col-md-8 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li>
                  <a href="{% url 'home' %}">
                    <span>Home</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'about' %}">
                    <span>About</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'prices' %}">
                    <span>Treatments & Prices</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'booking_form' %}">
                    <span>Bookings</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'contact' %}">
                    <span>Contact</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'signup' %}">
                    <span>Signup</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'login' %}">
                    <span>Login</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'logout' %}">
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>

    {% block content %}
    {% endblock %}

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="site-section-heading text-center font-secondary">Testimonials</h2>
          </div>
        </div>
        <div class="row">

          <div class="col-12">

            <div class="owl-carousel-2 owl-carousel">

              <div class="d-block block-testimony mx-auto text-center">
                <div class="person w-25 mx-auto mb-4">
                  <img src="{% static 'mainsite/images/person_1.jpg' %}" alt="Carly" class="img-fluid rounded-circle w-50 mx-auto">
                </div>
                <div>
                  <h2 class="h5 mb-4">Carly</h2>
                  <blockquote>&ldquo;My job can be extremley demanding & stressfull and I always make sure I book myself in for a Swedish massage at least once a month to keep me feeling my best. The team also advise on lifestyle changes to help overall wellbeing... Thanks guys!&rdquo;</blockquote>
                </div>
              </div>

              <div class="d-block block-testimony mx-auto text-center">
                <div class="person w-25 mx-auto mb-4">
                  <img src="{% static 'mainsite/images/person_2.jpg' %}" alt="Image" class="img-fluid rounded-circle w-50 mx-auto">
                </div>
                <div>
                  <h2 class="h5 mb-4">Dominic</h2>
                  <blockquote>&ldquo;I regularly use JA Therapies for the sports massage treatment to aid with my recovery after training. As a marathon runner I would definatley recommend the courteous and professional service offered by the specialists. Great stuff!&rdquo;</blockquote>
                </div>
              </div>

              <div class="d-block block-testimony mx-auto text-center">
                <div class="person w-25 mx-auto mb-4">
                  <img src="{% static 'mainsite/images/person_7.jpg' %}" alt="Image" class="img-fluid rounded-circle w-50 mx-auto">
                </div>
                <div>
                  <h2 class="h5 mb-4">Rhiannon</h2>
                  <blockquote>&ldquo;I suffered for years with allergic reactions to mainstream cosmetics and skin treatments. After having an personalised consultation they were able to formulate serums for my skin and hair that have worked wonders!&rdquo;</blockquote>
                </div>
              </div>

              <div class="d-block block-testimony mx-auto text-center">
                <div class="person w-25 mx-auto mb-4">
                  <img src="{% static 'mainsite/images/person_4.jpg' %}" alt="Image" class="img-fluid rounded-circle w-50 mx-auto">
                </div>
                <div>
                  <h2 class="h5 mb-4">Adam</h2>
                  <blockquote>&ldquo;I had alway heard about cupping therapy but was always a little worried and apprehensive about getting it done. The practitioner was very patient in making me feel at ease and understanding the process before committing. I feel it has had major benefit on my knee pain and I would not hesitate to use JA Therapies again!&rdquo;</blockquote>
                </div>
              </div>


            </div>
          </div>
          

        </div>
      </div>
    </div>

    <div class="mt-5 block-cta-1 primary-overlay" style="background-image: url('/static/mainsite/images/hero_bg_2.jpg')">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-7 mb-4 mb-lg-0">
            <h2 class="mb-3 mt-0 text-white">Up to 25% cashback on completion of <script>document.write(new Date().getFullYear());</script> block bookings!!</h2>
            <p class="mb-0 text-white lead">The more you book the more you save!</p>
          </div>
          <div class="col-lg-4">
            <p class="mb-0"><a href="{% url 'booking_form' %}" class="btn btn-outline-white text-white btn-md btn-pill px-5 font-weight-bold btn-block">Make Booking</a></p>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'about' %}">About Us</a></li>
                  <li><a href="{% url 'prices' %}">Treatments & Prices</a></li>
                  <li><a href="{% url 'booking_form' %}">Booking</a></li>
                  <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                <h2 class="footer-heading mb-4">Relax...</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'booking_form' %}">Swedish Massage</a></li>
                  <li><a href="{% url 'booking_form' %}">Aromatherapy</a></li>
                  <li><a href="{% url 'booking_form' %}">Wet Cupping</a></li>
                  <li><a href="{% url 'booking_form' %}">Fire (dry) cupping</a></li>
                </ul>
              </div>
              <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                <h2 class="footer-heading mb-4">Recover...</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'booking_form' %}">Physical Therapy</a></li>
                  <li><a href="{% url 'booking_form' %}">Sports Massage Therapy</a></li>
                  <li><a href="{% url 'booking_form' %}">Graston IATM</a></li>
                  <li><a href="{% url 'booking_form' %}">Nutrition</a></li>
                </ul>
              </div>

              <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Offers</h2>
            <p>Why not sign up and recieve the latest deals and offers from our lifestyle affiliates.</p>
            <form action="#" method="post" class="subscription">
              <div class="input-group mb-3  d-flex align-items-stretch">
                <input type="text" class="form-control bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5">
          <div class="col-12 text-md-center text-left">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'mainsite/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'mainsite/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'mainsite/js/jquery-ui.js' %}"></script>
  <script src="{% static 'mainsite/js/popper.min.js' %}"></script>
  <script src="{% static 'mainsite/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'mainsite/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'mainsite/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'mainsite/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'mainsite/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'mainsite/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'mainsite/js/jquery.waypoints.min.js' %}"></script>

  <script src="{% static 'mainsite/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'mainsite/js/aos.js' %}"></script>
  <script src="{% static 'mainsite/js/rangeslider.min.js' %}"></script>
  

  <script src="{% static 'mainsite/js/typed.js' %}"></script>
            <script>
            var typed = new Typed('.typed-words', {
            strings: [" pain..."," stress..."," fatigue...", " worries...", " health...", " wellbeing...", " lifestyle!"],
            typeSpeed: 60,
            backSpeed: 60,
            backDelay: 2000,
            startDelay: 750,
            loop: true,
            showCursor: true
            });
            </script>

  <script src="{% static 'mainsite/js/main.js' %}"></script>
  <script src="{% static 'mainsite/js/handleActiveNavLink.js' %}"></script>
  
  </body>
</html>